<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net461" />
  <package id="Catel.Core" version="4.5.3" targetFramework="net461" />
  <package id="Catel.Fody" version="2.14.0" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="1.29.3" targetFramework="net461" developmentDependency="true" />
</packages>